.article img {
    display: block;
    width: 100%;
    max-width: 60rem;
    margin: 4rem auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 32px 32px 0px, rgba(0, 0, 0, 0.15) 0px 16px 16px 0px, rgba(0, 0, 0, 0.15) 0px 8px 8px 0px, rgba(0, 0, 0, 0.15) 0px 4px 4px 0px;
}

.article pre {
    font-size: 0.75rem;
}